<!doctype html>
<html lang="en">

  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/nxb7hgm.css">

    <!-- Icons 
    <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/add-to-basket.png" alt="add-to-basket"/>
    <img width="24" height="24" src="https://img.icons8.com/fluency-systems-regular/48/shopping-basket-2.png" alt="shopping-basket-2"/>
    -->
    
    <title>Cadenza Fragrances</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    
  </head>

  <body>

    <header>
        <nav class="navbar navbar-expand-lg fixed-top border-bottom navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">CADENZA</a>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item px-3 active grow-less">
                  <a class="nav-link" href="{{ url_for('main.all_products') }}">SHOP<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-3 grow-less">
                  <a class="nav-link" href="#">OUR STORY</a>
                </li>
                <li class="nav-item px-3 grow-less">
                    <a class="nav-link" href="#">CONTACT US</a>
                  </li>
              </ul>
            </div>

            
            <ul class="navbar-nav ml-auto nav-stick-cart">
                <li class="nav-item">
                    <a href="{{ url_for('main.basket') }}" class="btn grow"><img width="24" height="24" src="https://img.icons8.com/fluency-systems-regular/48/shopping-basket-2.png" alt="shopping-basket-2"/></a>
                </li>
            </ul>

            <button class="navbar-toggler nav-stick-toggle grow" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </nav>

        {% block head %}{% endblock %}

    </header>

    
    <!-- Main Page content goes here-->
    <main>
    {% block main %}
    {% endblock %}
      

      <!-- Reccomendation -->
      <div class="overflow-container-1 prodcut-spacing {
        margin-top: 100px !important;}">
        <div class="overlay-content">
          <h6>Having trouble deciding?</h6>
          <h2>
            Reach out to us for our personalised reccomendations
          </h2>
          <button type="button" class="btn btn-primary-vanilla grow-less">REACH OUT</button>
        </div>
        <img src="{{ url_for('static', filename='img/quiz_image.jpeg')}}" class="img-fluid" alt="Responsive image">
        <div class="overlay"></div>
      </div>

    </main>

    <!--Footer-->
      <footer class="bg-light text-center text-lg-start">
        <div class="container-fluid text-center pt-5 pb-5">
            <div class="row">
              <h5 class="col text-left">
                <b>Shop 4, 82 Hensley Avenue<br/>
                Brisbane</b>
              </h5>
              <div class="col">
                <img src="/static/img/instagram.png" class="img-fluid" alt="Responsive image" style="width: 24px; height: 24pxpx; margin:0 auto;">
              </div>
              <h5 class="col text-right">
                <b>reachout@cadenza.com.au<br/></b>
                1800 768 554
              </h5>
            </div>
          </div>
        
        <div class="copyright pb-5">
            <h5>
                © 2023 Copyright: Cadenza
            </h5>
        </div> 
      </footer>
    <!--Footer-->
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      
</body>
</html>