{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block main %}
<section>
    <div class="hero-spacer" >
        <img src="{{ url_for('static', filename='img/quiz_image.jpeg')}}" class="card-img-top hero-spacer-img" alt="Card Image">
    </div>
    <div class="container">
        <div class="row co-12 d-flex mt-5 mb-5">
            <h3>Your Cart</h3>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {% for item in order.products %}
                <div class="row shadow-md my-row mb-3">
                    <div class="col-sm-12 card justify-content-between">
                        <h4 class="card-header basket-header">{{ item.name }} : {{ item.category }}
                            <form method="post" class="product-page-add-to-cart float-right" action="{{ url_for('main.deleteorderitem') }}">
                                <input type="hidden" id="id" name="id" value="{{ item.id }}">
                                <button class="remove" type="submit">
                                    <div class="float-right">Delete</div>
                                </button>
                            </form>
                            
                        </h4>
                        <div class="row">
                            <div class="col-4">
                                <img class="img-thumbnail" src="{{url_for('static', filename='img/' + item.image_url)}}">
                            </div>
                            <div class="col-8">
                                <div class="d-flex flex-column justify-content-between align-items-end h-100">
                                    <div>
                                    </div>
                                    <div>
                                        <h5 class="basket-price">{{ "${:,.2f}".format(item.price) }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <h4 class="card-header basket-header"><a4>Total Price</a4></h4>
                    <div class="card-body ">
                        <div class="justify-content-between">
                            <h4 class="card-text basket-header">Subtotal:
                                <a class="float-right basket-header">{{ "${:,.2f}".format(total_price * 0.90) }}</a>
                            </h4>
                        </div>
                        <div class="justify-content-between">
                            <h4 class="card-text basket-header">GST:
                                <a class="float-right basket-header">{{ "${:,.2f}".format(total_price * 0.10) }}</a>

                            </h4>
                        </div>
                        <div class="justify-content-between mt-3">
                            <h4 class="card-text basket-price basket-header">Total:
                                <a class="float-right ">{{ "${:,.2f}".format(total_price) }}</a>
                            </h4>
                        </div>
                        <a href="{{ url_for('main.checkout') }}">
                            <button type="button" class="slide btn-cart btn-outline-cart mt-5">Check Out</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
